# Super-omega-ultra-project

In [4]:
import json
path = r'C:\oracle\python_homework\credentials.json'
credentials = json.load(open(path))

#  Сперва необходимо спарсить данные из файла источника (в данном случае csv файл) в сущность типа Таблица

In [ ]:
import table

path = r"C:\\oracle\\python_homework\\data.csv"

csv_table = table.csv_table(path)

# После того, как таблица создана, ее необходимо категоризировать

In [ ]:
import categorizer

c = categorizer.categorizer()
csv_table.categories = c.get_category(csv_table.get_data())

In [ ]:
print(csv_table.categories)

# Можно считывать не только таблицы csv, но также таблицы Oracle

# Перед этим необходимо инициализировать клиент Oracle

In [ ]:
import cx_Oracle

path_to_client = r"C:\\oracle\\instantclient_19_8"
cx_Oracle.init_oracle_client(path_to_client)

# Для достоверности желательно удалить изначальную таблицу, пересоздать ее и заполнить первоначальными данными

In [ ]:
    conn = cx_Oracle.connect(
        credentials["login"], credentials["password"], credentials["host"], encoding="UTF-8")
    cur = conn.cursor()
    cur.execute("drop table petrushin_test")

    cur.execute(f"""
    CREATE TABLE petrushin_test (
    id NUMBER GENERATED BY DEFAULT AS identity,
    name VARCHAR2(100),
    phone_number VARCHAR2(100),
    inn VARCHAR2(12),
    post_index VARCHAR2(6),
    email VARCHAR2(100),
	website VARCHAR2(100))
    """)

    cur.executemany(f"insert into petrushin_test(name, phone_number, inn, post_index, email) values (:1, :2, :3, :4, :5)", [
        ("Филимошин Роман Владимирович", "+7 (495) 913-09-65",
         "4025062831", None, "Mail@service-nalog.ru"),
        ("Мелешкин Михаил Федорович", None,
         "7707288107", "127381", "prodez@mail.ru"),
        ("Мурашов Сергей Борисович", "+7 (812) 492-20-58", "7814001461", None, None)
    ])
    conn.commit()

In [ ]:
table_name = "petrushin_test"

oracle_table = table.oracle_table(credentials["login"], credentials["password"], credentials["host"], table_name)
oracle_table.categories = c.get_category(oracle_table.get_data())

# После того как таблицы созданы и их данные категоризированы, одну таблицу можно обновить данными из другой

In [ ]:
print(oracle_table.get_data())

In [ ]:
print(oracle_table.categories)

In [ ]:
print(csv_table.get_data())

In [ ]:
print(csv_table.categories)

In [ ]:
oracle_table.update_from_table(csv_table)

In [ ]:
print(oracle_table.get_data())

In [ ]:
print(oracle_table.categories)